.navbar {
    background-color: #4caf50;
    padding-bottom: 5px;
}

.nav-link {
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: larger;
    margin-left: 10px;
    margin-right: 10px;
}

.bg-green {
    background-color: #28a745 !important;
}

.bg-custom {
    background-color: #98a098 !important;
}

.img {
    max-width: 100px;
}

.container {
    text-align: center;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
}

.footer {
    background-color: #4caf50;
    color: #ffffff;
}

.footer h5 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.footer p,
.footer a {
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
    text-align: justify;
    word-spacing: 0.03cm;
}

.footer a:hover {
    color: #d4edda;
    text-decoration: none;
}

.footer .container {
    max-width: 960px;
}

.footer .row {
    margin-bottom: 1rem;
}

.footer .text-center p {
    margin: 0;
    font-size: 0.875rem;
    text-align: center;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li {
    margin-bottom: 0.5rem;
}